/* bg-px()函数:
    两个参数：color，fx(top/bottom)
*/
.bg-px(@color,@fx){
    position: relative;
    &:after{
        position: absolute;
        content: "";
        height: 1px;
        width: 100%;
        background-color: @color;
        @{fx}: 0;
        @media (-webkit-device-pixel-ratio: 2){
            transform: scaleY(.5);
        }
        @media (-webkit-device-pixel-ratio: 3){
            transform: scaleY(.3333333333333);
        }
    }
}
html,body{
    width: 100%;
    height: 100%;
}
.wrapper{
    height: 100%;
    overflow: hidden;
    background-color: #f8f3f3;
    .header{
        position: absolute;
        width: 100%;
        // header总高270
        height: 2.7rem;
        background-color: #161616;
        .header_top{
            // header_top高270
            height: 1.35rem;
            .logo{
                float: left;
                padding: 0.26rem 0.17rem 0.21rem 0.17rem;
                img{
                    width: 2.4rem;
                    height: 0.88rem;
                }
            }
            .menuBtn{
                float: left;
                width: 1.29rem;
                height: 1.35rem;
                background: url(../images/menuBtn.png) center 0.16rem no-repeat;
                background-size: 0.82rem 2.33rem;
                &.active{
                    background-position: center -1.20rem;
                }
            }
            .btns{
                float: right;
                padding-top: 0.21rem;
                a{
                    width: 1.22rem;
                    height: 0.78rem;
                    background-color: #690;
                    color: #ccc;
                    float: left;
                    line-height: 0.78rem;
                    text-align: center;
                    margin-right: 0.15rem;
                    border-radius: 0.08rem;
                    font-size: 0.31rem;
                    &.search{
                        height: 0.88rem;
                        margin-right: 0.2rem;
                        color: #fff;
                        line-height: 0.88rem;
                        border-radius: 0.1rem;
                        font-weight: bold;
                    }
                }
            }
        }
        .header_bottom{
            height: 1.03rem;
            padding: 0.16rem;
            form{
                overflow: hidden;
                input[type=text]{
                    width: 8.29rem;
                    height: 1.03rem;
                    float: left;
                    box-sizing: border-box;
                    background-color: #999;
                    padding: 0.05rem 0.1rem;
                    font-size: 0.41rem;
                    color: #333;
                    border-radius: 0.15rem 0 0 0.15rem;
                    border: 1px solid #5a5a5a;
                    //改变 placeholder占位符 的颜色
                    &::-webkit-input-placeholder{
                        color:red;
                    }
                    &:focus{
                        background-color: #fff;
                    }
                }
                input[type=submit]{
                    width: 2.03rem;
                    height: 1.03rem;
                    float: right;
                    background-color: #424242;
                    color: #fff;
                    font-size: 0.41rem;
                    border-radius: 0.15rem;
                    border:none;
                }
            }
        }
        .mask{
            .bg-px(red,top);
            position: absolute;
            left: 0;
            top: 1.35rem;
            width: 100%;
            padding:0.1rem 0;
            background-color: rgba(0,0,0,.8);
            display: none;
            z-index: 3;
            li{
                width: 25%;
                height: 1.35rem;
                font-size: 0.54rem;
                line-height: 1.35rem;
                text-align: center;
                float: left;
                a{
                    color: #fff;
                }
            }
        }
    }
    .main{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 2.7rem;
        background-color: #fdf1f1;
        overflow: hidden;
        .nav{
            .bg-px(#fff,bottom);
            width: 100%;
            height: 1.77rem;
            box-sizing: border-box;
            padding: 0.31rem 0 0.14rem 0;
            .list{
                white-space: nowrap;
                float: left;
                li{
                    display: inline-block;
                    height: 1.29rem;
                    line-height: 1.29rem;
                    padding: 0 0.29rem;
                    a{
                        color: #020202;
                        font-size: 0.54rem;
                    }
                    &.active{
                        background-color: #690;
                        a{
                            color: #fff;
                        }
                    }
                }
            }
        }
        .carousel-wrap{
            width: 100%;
            position: relative;
            .list{
                overflow: hidden;
                li{
                    float: left;
                    a{
                        display: block;
                        img{
                            width: 100%;
                        }
                    }
                }
            }
            .points-wrap{
                position: absolute;
                bottom: 0;
                width: 100%;
                text-align: center;
                z-index: 2;
                span{
                    display: inline-block;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background-color: green;
                    margin: 5px;
                    &.active{
                        background: hotpink;
                    }
                }
            }
        }
        .tap-wrap{
            width: 10.46rem;
            background-color: #fff;
            margin: 0 auto;
            .tap-head{
                height: 1.35rem;
                line-height: 1.35rem;
                display: flex;
                justify-content: space-between;
                h2{
                    font-size: .7rem;
                }
                span{
                    font-size: .4rem;
                }
            }
            .tap-nav{
                position: relative;
                height: 1.05rem;
                line-height: 1.05rem;
                a{
                    float: left;
                    height: 1.05rem;
                    width: 1.2rem;
                    margin-right: .2rem;
                    font-size: .44rem;
                    text-align: center;
                    line-height: 1.05rem;
                    color: #6b6b6b;
                }
                .smallG{
                    position: absolute;
                    left: 0;
                    bottom: .1rem;
                    width: 1.2rem;
                    height: .09rem;
                    background-color: #6f900b;
                }
            }
            .tap-content{
                ul{
                    overflow: hidden;
                    li{
                        box-sizing: border-box;
                        width: 5.06rem;
                        margin: .08rem;
                        padding: .05rem;
                        float: left;
                        background-color: #efefef;
                        color:#000;
                        font-size: .4rem;
                        a{
                            img{
                                width: 100%;
                            }
                            span{
                                display: block;
                                white-space: nowrap;
                                overflow:hidden;
                                text-overflow: ellipsis;
                                color:#605e5e

                            }
                        }
                    }
                }
            }
            .tap-discuss{
                display: flex;
                justify-content: space-between;
                .left{
                    height: .5rem;
                    background: url(../images/ice.png) 0 0.1rem no-repeat;
                    padding-left: .6rem;
                    margin-left: .2rem;
                }
                .right{
                    height: .5rem;
                    background: url(../images/ice.png) 0 -0.56rem no-repeat;
                    padding-left: .6rem;
                    margin-right: .2rem;
                }
            }
        }
    }
}